{{#each comments as |comment| }}
<div class="card border-primary mb-3" >
  <div class="card-body text-primary">
    <p class="card-text">{{comment.comment_text}}</p>
  </div>
  <div class="card-header text-end"><span class="userCommentedId">{{comment.userId}}</span> {{comment.createdAt}}</div>
</div>
{{/each}}


