
{{#each comments as |comment| }}
<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <p class="card-text fst-italic text-end">{{comment.comment_text}}</p>
  </div>
  <div class="card-header text-end"><span class="userCommentedId"><strong>{{comment.username}}</strong></span> {{format_date comment.createdAt}} {{format_time comment.createdAt}}</div>
</div>

{{/each}}
