<form class="my-3">
  <div class="mb-3">
    <label for="postTitle" class="form-label">Title</label>
    <input type="name" class="form-control" id="postTitle">
  </div>
  <div class="mb-3">
    <label for="postText" class="form-label">Content</label>
    <textarea class="form-control" id="postText" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="savePostButton">Save</button>
</form>

<script src="./js/addpost.js"></script>