<div>
  <div class="card-body my-3">
    <h1 class="text-success">This is your posts.</h1>
  </div>
</div>
<button type="button" class="btn btn-primary my-3" id="addPostButton">Add Post</button>
{{#each allInfo }}
{{#if posts}}
<div class="card text-dark bg-light my-3">
  <div class="card-header">Posted By <strong>{{username}}</strong></div>
  {{> homepage-details}}
  {{else}}
  {{/if}}
</div>
{{/each}}

<script>
  function redirect() {
    document.location.replace('/dashboard/addpost')
  }
  document
    .querySelector('#addPostButton')
    .addEventListener("click", redirect);
</script>