{{#each allInfo }}
{{#if posts}}
<div class="card text-dark bg-light my-3">
    <div class="card-header">Posted By <strong>{{username}}</strong></div>
    {{> homepage-details}}
    {{else}}
    {{/if}}
</div>
    {{/each}}
