<form class="my-3">
  <div class="mb-3">
    <label for="postTitle" class="form-label">Title</label>
    <input type="name" class="form-control" id="updateTitle" value="{{allInfo.title}}">
  </div>
  <div class="mb-3">
    <label for="postText" class="form-label">Content</label>
    <textarea class="form-control" id="updateText" rows="3">{{allInfo.text}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="updatePostButton">Update</button>
  <button type="submit" class="btn btn-danger" id="deletePostButton">Delete</button>
  <a href="/dashboard" class="btn btn-primary">Go Back</a>
</form>

<script src="/js/updatepost.js"></script>